.aside-section__title {
   padding-top: 0;
   font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;

}

.hiden-section{
     @media screen and (min-width: 480px) and (max-width: 1199px){
          position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
     }
}


.aside-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.aside-section__list {
    display: flex;
}

.aside-section__text{
    @media screen and (min-width: 480px) {
           
          
             }
      @media screen and (min-width: 768px){
         
           
      }
      @media screen and (min-width: 1200px){
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 16px;
    background-color: rgba(47, 48, 58, 0.8);
   text-transform: uppercase;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
      }
    
}

.aside-section__item{
    position: relative;
}

.aside-section__item:not( :last-child){
    margin-right: 30px;
}