.description-section__list {
    @media screen and (min-width: 480px) {
           width: 450px;
         
             }
      @media screen and (min-width: 768px){
        width: 738px;
      }
      @media screen and (min-width: 1200px){
          display: flex;
      }
    
}

.description-section__icon-box{
    
    // @media screen and (min-width: 480px) {
    //        width: 270px;
    //         height: 120px;
    //         margin-bottom: 30px;
            
    //         padding-right: 150px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
    //          }
      @media screen and (min-width: 768px){
        
      }
      @media screen and (min-width: 1200px){
         width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
      }
}

.description-box{
    @media screen and (min-width: 480px){
    padding: 25px 190px;
    background-color: #F5F4FA;
    // margin-right: 15px;
    // margin-bottom: 30px;
    display: flexbox;
    }
    @media screen and (min-width: 768px){
width: 354px;
flex-wrap: wrap;
    }
    
}

.description-section__item:not( :last-child){
    //  margin-right: 30px;
@media screen and (min-width: 768px){

}
}
.description-section__item{

             }

.description-section__title {
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    // text-transform: uppercase;
    // color: #212121;
    // margin-bottom: 10px;
    @media screen and (min-width: 480px){
            font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    }
    @media screen and (min-width: 768px){
        text-align: start;
        margin-bottom: 10px;
    }
}

.description-section__text {
    // font-weight: normal;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    // width: 270px;
    @media screen and (min-width: 480px) and (max-width:767){
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;
margin: 10px 15px;
color: #757575;
    }
    @media screen and (min-width: 768px){
        width: 270px;
        text-align: left;
        
    }
}